# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# System files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Large datasets (optional)
*.csv
*.xlsx